 .cards {
    background-color: #000;
    color: #fff;
    h3 {
        font-family: $font-playfair;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 80px;
        padding-top: 30px;
    }
    span {
        padding-left: 540px;
    }
    .about-left__section-flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 80px;
        .watch {
            img {
                padding: 55px 23px;
                background-color: #191B1C;
                margin-bottom: 25px;
            }
            h5 {
                padding-bottom: 10px;
                font-family: $font-playfair;
                font-size: 18px;
                line-height: 21px;
            }
            h6 {
                font-family: 'Playfair Display';
                font-size: 16px;
                line-height: 19px;
                color: #D0D0D0;
            }
            .buy {
                padding-bottom: 150px;
            }
        }
    }
 }