footer{
    background-image: url(/images/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: $font-pt;
    .footer {
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            padding-bottom: 40px;
            font-weight: lighter;
        }
        .about {
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                width: 350px;
                padding-bottom: 100px;
            }
        }
        .menu {
            margin-left: 30px;
            a {
                padding: 10px 20px;
                background-color: #0F0F0F;
                display: inline-block;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #D0D0D0;
                margin: 0 20px 20px 0;
                &:hover {
                    background-color: #1F1F1F;
                    transition: .5s ease-in;
                    color: crimson;
                }
            }
        }
        
        .email {
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                width: 350px;
                padding-bottom: 37px;
            }
            form {
                display: flex;
                justify-content: start;
                input {
                    padding: 12px 0;
                    width: 250px;
                    background: rgba(255, 255, 255, 0.4);
                    padding-left: 1rem;

                }
                input::placeholder {
                    color: #D0D0D0;
                }
                button {
                    padding: 10px 20px;
                    background-color: #0F0F0F;
                    color: #fff;
                    border: none;
                    &:hover {
                        background-color: #1F1F1F;
                        transition: .5s ease-in;
                        color: crimson;
                    }

                }
            }
        }
    }
}
.footer-top {
    background-color: #0F0F0F;
    .footer-top-desc {
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 17px 0;
    }
    p {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #D0D0D0; 
        font-family: $font-pt;        
    }
    a {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #D0D0D0;
        font-family: $font-pt;        

    }
}